* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5c2c2;
}

#msgBox {
    display: none;
    
}

.mainContainer {
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 350px;
    position: absolute;
    margin: 0px 100px 0px -300px;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 3s ease-in-out, opacity 3s ease-in-out;
}

.btn {
    display: flex;
    gap: 30px;
}

.btn-design {
    cursor: pointer;
    padding: 4px 20px;
    font-family: cursive;
    font-size: 22px;
    color: gray;
    /* width: 200%; */
    border: none ;
    border-radius: 10px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
}

.no:hover {
    background-color: rgb(60, 55, 55);
    color: red;
}




.popup {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    animation: fadeIn 0.5s ease-in-out;
}

.popup.fade-out {
    animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}









/* .tenor-gif-embed {
    position: relative;
    margin: auto;
    padding: 32px 10px;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn-design {
    width: 70px;
    margin: 12px 20px
}

.attempt2 {

} */


